%h2= t(:edit_user)
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password,
      hint: t(:leave_blank_password),
      required: false,
      input_html: { autocomplete: "new-password" },
      label: t(:password)
    = f.input :password_confirmation,
      required: false,
      input_html: { autocomplete: "new-password" },
      label: t(:confirm_password)
    = f.input :current_password,
      hint: t(:password_needed),
      required: true,
      input_html: { autocomplete: "current-password" },
      label: t(:current_password)
  %b Avatar:
  %br
  -if current_user.file.attached?
    = image_tag(resource.avatar_thumbnail(150))
  -else
    =image_tag('/default_avatar.png')
  = f.input :file, as: :file, label: ''
  .form-actions
    = f.button :submit, t(:update)
%h3= t(:cancel_account)
%div
  %b
    = t(:unhappy)
  = button_to  t(:cancel_account), registration_path(resource_name),class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete
- link_to t(:back), :back
