<h2><%=t(:edit_user) %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: t(:leave_blank_password),
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: t(:password_needed),
                required: true,
                input_html: { autocomplete: "current-password" } %>

  </div>

  <%= image_tag(resource.avatar_thumbnail) if resource.file.attached? %>
  <%=f.input :file, as: :file, label: t(:avatar) %>

  <div class="form-actions">
    <%= f.button :submit, t(:update) %>
  </div>
<% end %>

<h3><%=t(:cancel_account) %></h3>

<div><b><%=t(:unhappy) %> </b><%= button_to  t(:cancel_account), registration_path(resource_name),class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<% link_to t(:back), :back %>