.container.m-0
  = simple_form_for @task, html: { multipart: true } do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :title, label: t(:title)
      = f.input :description, label: t(:description)
      = f.input :is_done, label: t(:is_done)
      = f.input :user_id,
              :input_html => { value:current_user.id},
              as: :hidden
      -if params[:project_id] != nil
        = f.input :project_id,
                  :input_html => { value:params[:project_id]},
                as: :hidden
      -if !Tag.for_user(current_user).blank?
        =f.association :tags,collection:Tag.for_user(current_user), as: :check_boxes,item_wrapper_class: 'checkbox_container',label: t(:tags)
      -else
        %b
          =t(:no_tags)
        %br
        = link_to t(:user_ads_new_tag), new_tag_path, class: "btn btn-outline-dark"

      =f.input :file, as: :file, label: t(:file)
      =f.input :solver_id ,
              :input_html => { value:current_user.id},
              as: :hidden
      =f.input :state_advanced, label: t(:state), collection:["novy", "ceka na klienta", "v reseni", "hotovo"],selected: "novy"
      = f.input :solver_id, collection: User.all, label_method: :name, value_method: :id, include_blank: true,required: true,selected: current_user.id

    .form-actions
      = f.button :submit, class: "btn btn-success"
