.container.m-0
  %p(style="color: green")= notice

  - if !@tasks.blank?
    %h2= t(:tasks)
    %table.table.thead-dark
      %thead
        %tr
          %th= t(:title)
          %th= t(:description)
          %th= t(:tags)
          %th= t(:project)
          //%th = t(:done)
          //%th = t(:state)
          %th= t(:state)
          %th= t(:delete)
          %th= t(:edit_task)
          %th =t(:file)
          %th =t(:solver)

      %tbody
        - @tasks.each do |task|
          %tr
            %th= task.title
            %th= has_description(task)
            %th= tags(task)
            %th= task.project.title
            //%th = done(task.is_done)
            //%th = link_to(t(!task.is_done ? :done : :todo), toggle_done_path(id: task.id), class: "btn btn-outline-success")
            %th= task.state_advanced
            %th = button_to t(:delete_task), task_path(task), method: :delete, :alert => "You haz errors!", class: "btn btn-outline-danger"
            %th = link_to t(:edit_task), edit_task_path(task), class: "btn btn-dark"
            %th = has_file(task)
            %th = (User.find(task.solver_id)).name
  - else
    %b= t(:no_tasks)
