%h2= t(:users)

.container.ml-0.pl-0.me-0.pr-0.w-75
  %table.table.table-bordered.table-hover.table-sm{thead: {class: "thead-light"}}
    %thead
      %tr
        %th= t(:name)
        %th= t(:surname)
        %th= t(:email)

    %tbody
      - @users.each do |user|
        %tr
          %th= user.name.capitalize
          %th= user.surname.capitalize
          %th= user.email
