<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Todo task app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%=link_to t(:home), root_path, class:"navbar-brand" %> <span class="sr-only"></span></a>
      </li>


      <%if user_signed_in? %>
      <li class="nav-item ">
        <a class="nav-link" href="#"><%=link_to t(:signout), destroy_user_session_path,:method => :get, class:"btn btn-danger" %> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item ">
      <a class="nav-link" href="#"><%=link_to t(:edit), edit_user_registration_path, class:"btn btn-outline-warning" %> <span class="sr-only"></span></a>
      </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><%=link_to t(:new_project),new_project_path, class:"btn btn-outline-primary" %> <span class="sr-only"></span></a>
        </li>
        <%else %>
        <li class="nav-item ">
          <a class="nav-link" href="#"><%=link_to t(:signup), new_user_registration_path, class:"btn btn-outline-success" %> <span class="sr-only"></span></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#"><%=link_to t(:signin), new_user_session_path, class:"btn btn-outline-success" %> <span class="sr-only"></span></a>
        </li>
        <%end %>

    </ul>

  </div>
</nav>