%h2= t(:signin)
%div{style: "margin-left: 20px"}
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true,  label: t(:password)
      - if devise_mapping.rememberable?
        = f.input :remember_me, label: t(:remember_me), as: :boolean
    .form-actions
      = f.button :submit, t(:signin)